package {{package}}.factories;

import {{package}}.{{classname}}Service;
import java.util.Properties;
import cuba.ClientContextI;
import cuba.wired.InitException;
import cuba.wired.WiredClientContext;

public class {{classname}}ServiceFactory {

    protected ClientContextI cubaContext = null;

    public {{classname}}ServiceFactory(){
        try {
            Properties props = new Properties();
            props.setProperty(ClientContextI.CALLER_PROPERTY, "meh");
            cubaContext = new WiredClientContext(props);
        } catch (InitException e) {
            Err.handler().process(e);
        }
    }

    public {{classname}}Service get{{classname}}() {
        return ({{classname}}Service) cubaContext.getComponent("{{classname}}Service");
    }
}
