package {{package}};

import {{package}}.*;
import {{modelPackage}}.*;

import org.glassfish.jersey.media.multipart.FormDataContentDisposition;

{{#imports}}import {{import}};
{{/imports}}

import java.util.List;
import {{package}}.NotFoundException;

import java.io.InputStream;

import javax.ws.rs.core.Response;
import javax.ws.rs.core.SecurityContext;
{{#useBeanValidation}}
import javax.validation.constraints.*;
{{/useBeanValidation}}


{{#operations}}
//@External
public interface {{classname}}Service {
    {{#operation}}
    
    /**
    /* summary: "{{{summary}}}"
    /* notes: "{{{notes}}}"
    /* repsonse: {{{returnType}}}.class
    /* potentielle Rueckgaben:{{#responses}}
    /* (code = {{{code}}}, message = "{{{message}}}", response = {{{returnType}}}.class{{#returnContainer}}, responseContainer = "{{{returnContainer}}}"{{/returnContainer}}){{#hasMore}}{{/hasMore}}{{/responses}}
    */
    public Response {{nickname}}({{#allParams}}{{>serviceQueryParams}}{{>servicePathParams}}{{>serviceHeaderParams}}{{>serviceBodyParams}}{{>serviceFormParams}},{{/allParams}}SecurityContext securityContext) throws NotFoundException;
    {{/operation}}
}
{{/operations}}
